<div class="Container">
    <h1>Formulário para cadastrar pagamento</h1>

    <form action="/add-pagamento" method="POST">
        <div>
            <label>Nome</label>
            <input type="text" name="nome"><br><br>
        </div>

        <div>
            <label>Valor</label>
            <input type="text" name="valor"><br><br>
        </div>

        <button class="btn" type="submit">Cadastrar</button>
    </form>
</div>